[MESSAGES CONTROL]
# Disable specific warnings
disable=
    import-error,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-instance-attributes,
    too-few-public-methods,
    duplicate-code,
    fixme,
    line-too-long,
    no-value-for-parameter,
    redefined-outer-name,
    reimported,
    import-outside-toplevel,
    broad-exception-caught,
    too-many-positional-arguments,
    too-many-public-methods,
    too-many-lines,
    too-many-return-statements

[FORMAT]
max-line-length=88

[BASIC]
good-names=i,j,k,ex,_,id,e,f

[DESIGN]
max-args=10
max-locals=20
max-branches=15
max-statements=60
max-attributes=20
min-public-methods=1

[IMPORTS]
ignored-modules=flext_auth,flext_core,tap_oracle_wms.discovery_modern,tap_oracle_wms.stream_modern,tap_oracle_wms.tap_modern